# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/
*.swp
*~

# Logs
*.log

# Firebase service account keys (สำคัญ! อย่า upload private key ขึ้น GitHub)
serviceAccountKey.json
firebase-adminsdk-*.json
.firebaserc
firebase-debug.log
